<h1><%= @task["title"] %></h1>
<form action="/" method="post">
	<input type="hidden" name="_method" value="PATCH">
	<input type="hidden" name="id" value="<%= @task["id"] %>">
	<% if @task["done"] %>
		<input type="checkbox" name="state" checked>
		<% else %>
		<input type="checkbox" name="state">
	<% end %>
	<input type="Submit" value="Actualizar">
</form>